{
    "extends": "airbnb-base",
    "parser": "@babel/eslint-parser",
    "env": {
      "browser": true,
      "jquery":true,
      "es6": true
    },
    "rules": {
      "no-console": 0,
      "indent": 2,
      "semi": ["error", "always"],
      "quotes": ["error", "single"]
    }
}